.form {
  height: 4.2rem;
  width: 100%;
  display: flex;
}

.messageInputField {
  border: none;
  background-color: #333;
  height: 100%;
  width: 90%;
  font-family: Inter;
  color: #d0d0d0;
  padding: 0 10px;

  &:focus-visible {
    outline: none;
  }
}

.sendBtn {
  font-size: 2.4rem;
  color: #333;
  border: none;
  background-color: rgb(13, 178, 145);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: rgb(13, 178, 145);
    background-color: #333;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgb(13, 178, 145);
    color: #333;
  }
}
